@page "/login"

<NavBar />

<main class="container min-vh-90 py-nd-5 ">
	<div class="container p-5">
		<h3>Login</h3>

		<p>
			This is where the login screen will be.
		</p>
	</div>

</main>

<FooterBar />

@code {

}
